# ZIP

By Alberto Vald√©s

**Mail 1:** anvaldes@uc.cl

**Mail 2:** alberto.valdes.gonzalez.96@gmail.com

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import time
import math
import scipy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from matplotlib import image as mpimg
from sklearn.linear_model import LinearRegression
from statsmodels.tsa.seasonal import seasonal_decompose

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterables have different lengths, the iterable with the least items decides the length of the new iterator.

In [3]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")
c = ('A', 'B', 'C')

In [4]:
df = pd.DataFrame(zip(a, b, c))

In [5]:
df

         0        1  2
0     John    Jenny  A
1  Charles  Christy  B
2     Mike   Monica  C